@charset "UTF-8";

body {
    position: absolute;
    overflow: hidden;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(32, 32, 32);
    color: rgb(224, 224, 224);
    font-family: sans-serif;
}

body, canvas {
	margin: 0px;
	padding: 0px;
}

canvas {
	display: block;
}

#page {
    width: 1024px;
    margin: 0px auto;
}

.bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#delta, #fps {
    font-size: 1.1rem;
    font-style: italic;
    text-align: end;
    margin-left: auto;
}
